<% title "New car" %>

<header>
    <h1> New car </h1>
    <div class="links">
        <%= link_to 'Back', cars_path %>
    </div>
</header>

<section class="content">
    <% if notice.present? %>
        <p id="notice"><%= notice %></p>
    <% end %>

    <div class="panel-container">
        <div class="panel centred">
            <div class="panel-header">
                <h2> Create a new car </h2>
            </div>
            <div class="panel-content">
                <%= render 'form', car: @car %>
            </div>
        </div>
    </div>
</section>
