<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created at</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="assignment-list">
        <% driver.cars.includes(:car_drivers).each do |car| %>
        <tr>
            <td><%= car.id %></td>
            <td><%= car.title %></td>
            <td> <%= car.car_drivers.where(driver: driver.id).first.created_at %> </td>
            <td>
            <%= link_to 'Show', car, class: "rounded-btn green" %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>